.section {
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    width: 80%;
  }
}

.contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 16px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}