.contact-item {
  position: relative;
  border: 1px solid #000;
  padding: 12px;

  .profile {
    display: flex;
    align-items: center;
  }

  .desc {
    margin-left: 72px;

    p {
      margin-bottom: 4px;
    }
  }

  .btn-block {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;

    .btn {
      width: 100px;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}