.contact-item {
  position: relative;
  border: 1px solid #000;
  padding: 12px;
  
  .profile {
    display: flex;
    align-items: center;
  }

  .desc {
    margin-left: 72px;

    @media only screen and (max-width: 768px) {
      margin-left: 12px;
    }

    p {
      margin-bottom: 4px;
    }
  }

  .input-row {
    display: flex;
    align-items: center;

    input {
      width: 100%;
    }
  }

  .btn-block {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;

    .btn {
      width: 100px;

      @media only screen and (max-width: 768px) {
        width: 60px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
